<section class="section">
    <header class="section-header">
        <h1>Sales Lead</h1>
        <small *ngIf="source">{{getNumberOfDisplayedElement()}}</small>
    </header>
    <div class="section-body">
        <button class="btn btn-primary pull-right mb-3" (click)="addNewItem()">Add</button>
        <div *ngIf=!isLoading>
            <ng2-smart-table 
                [settings]="settings" 
                [source]="source"
                (custom)="onDelete($event)">
            </ng2-smart-table>
        </div>
    </div>
</section>

